<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit) = "onSubmit()" #form = 'ngForm'>
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="name">Name</label>
          <!-- old way, local reference -->
          <!-- <input type="text" id = 'name' class="form-control" #nameInput> -->
          <!-- new way, use form control -->
          <input type="text" id = 'name' class="form-control" 
          ngModel 
          name = 'name'
          required>
        </div>
        <div class="col-xs-2">
          <label for="amount">Amount</label>
          <!-- <input type="number" id = 'amount' class="form-control" #amountInput> -->
          <input type="number" id = 'amount' class="form-control"
          ngModel 
          name = 'amount' 
          required
          pattern = "^[1-9]+[0-9]*$" >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- old way use local reference, even was trigged when click add button -->
          <!-- <button class="btn btn-success" type="submit" (click)= 'onAdd()'>Add</button> -->
          <!-- use form control does not need event, submit is in form tag -->
          <!-- add button is disabled when form is not valid -->
          <button class="btn btn-success" [disabled] = "!form.valid" type="submit">{{editMode? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger" type="button" [disabled] = "!editMode" (click) = "onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click) = 'onClear()'>Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>